# Movie Recomendation System

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
# import os

# folder_path = '/content/drive/My Drive/Datasets/movie_datasets'

# # List files in the folder
# file_list = os.listdir(folder_path)

# # Print the list of files
# for file in file_list:
#     print(file)

In [4]:
#dataset_path = '/content/drive/My Drive/Datasets/movie_datasets'
#data_filename = 'tmdb_5000_credits.csv'
#movies_data = pd.read_csv(dataset_path + '/' + data_filename)

movies_data = pd.read_csv('tmdb_5000_movies.csv')
credits_data = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
# Display the first few rows of the loaded dataset
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
# Display the first few rows of the loaded dataset
credits_data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [8]:
credits_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [9]:
credits_data.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [10]:
movies_data.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [11]:
# Let's join the two dataset on the 'id' column
data1= movies_data.merge(credits_data,on='title')

#data1.head()

In [12]:
data1.shape

(4809, 23)

In [13]:
data1.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [14]:
data1 = data1[['id','title','overview','genres','keywords','cast','crew']]

In [15]:
data1.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
data1.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [17]:
data1.overview

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4809, dtype: object

In [18]:
data1.dropna(inplace=True)

In [19]:
data1.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [20]:
data1[data1.duplicated(keep=False)]

Empty DataFrame
Columns: [id, title, overview, genres, keywords, cast, crew]
Index: []

In [21]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [22]:
data1['genres'] = data1['genres'].apply(convert)
data1['keywords'] = data1['keywords'].apply(convert)

In [23]:
data1.head(5)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
def top3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [25]:
data1['cast'] = data1['cast'].apply(top3)

In [26]:
data1.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [27]:
def fetchdir(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
    return L

In [28]:
data1['crew'] = data1['crew'].apply(fetchdir)

In [29]:
data1.head(2)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [30]:
data1.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [31]:
data1['overview'] = data1['overview'].apply(lambda x: x.split())

In [32]:
data1.overview[0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [33]:
data1.head(3)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

In [34]:
# Remove the Spaces
data1['genres'] = data1['genres'].apply(lambda x: [i.replace(" ","") for i in x])
data1['keywords'] = data1['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
data1['crew'] = data1['crew'].apply(lambda x: [i.replace(" ","") for i in x])
data1['cast'] = data1['cast'].apply(lambda x: [i.replace(" ","") for i in x])

In [35]:
data1.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [36]:
data1['tags'] = data1['overview'] + data1['genres'] + data1['keywords'] + data1['cast'] + data1['crew']

In [37]:
data1.columns

Index(['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew',
       'tags'],
      dtype='object')

In [38]:
new_data = data1[['id','title','tags']]
new_data

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [39]:
result = " ".join(new_data['tags'][0])
result

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [40]:
new_data['tags'] = new_data['tags'].apply(lambda x: " ".join(x))
new_data

,id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [41]:
# Convert tgas to lower case
new_data['tags']=new_data['tags'].apply(lambda x:x.lower())
new_data

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [42]:
new_data['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [43]:
# Do the stemming
import nltk

from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [44]:
stemmer.stem('superpower')

'superpow'

In [45]:
new_data['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [46]:
def stem(text):
    L = []
    for i in text.split():
        L.append(stemmer.stem(i))
    return " ".join(L)

In [47]:
stem(new_data['tags'][0])

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [48]:
new_data['tags'] = new_data['tags'].apply(stem)

In [49]:
new_data.tags[5]

"the seemingli invinc spider-man goe up against an all-new crop of villain – includ the shape-shift sandman. while spider-man’ superpow are alter by an alien organism, hi alter ego, peter parker, deal with nemesi eddi brock and also get caught up in a love triangle. fantasi action adventur dualident amnesia sandstorm loveofone'slif forgiv spider wretch deathofafriend egomania sand narcism hostil marvelcom sequel superhero reveng tobeymaguir kirstendunst jamesfranco samraimi"

In [50]:
new_data.head(3)

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...

In [51]:
# Do the Vectorization
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000, stop_words='english',ngram_range=(1,1))

In [52]:
vectors = cv.fit_transform(new_data['tags']).toarray()

In [53]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [54]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [55]:
feature_names = cv.get_feature_names_out()
list_length = len(feature_names)
print("Number of features:", list_length)

Number of features: 5000

In [56]:
vocab=cv.vocabulary_
vocab

{'century': 736,
 'marin': 2803,
 'dispatch': 1286,
 'moon': 3013,
 'pandora': 3278,
 'uniqu': 4680,
 'mission': 2980,
 'becom': 441,
 'torn': 4552,
 'follow': 1729,
 'order': 3231,
 'protect': 3530,
 'alien': 157,
 'action': 79,
 'adventur': 106,
 'fantasi': 1629,
 'sciencefict': 3924,
 'cultureclash': 1084,
 'futur': 1807,
 'societi': 4147,
 'spacetravel': 4193,
 'futurist': 1809,
 'romanc': 3805,
 'space': 4187,
 'tribe': 4603,
 'alienplanet': 160,
 'soldier': 4154,
 'battl': 424,
 '3d': 47,
 'zoesaldana': 4993,
 'sigourneyweav': 4074,
 'jamescameron': 2327,
 'captain': 676,
 'long': 2696,
 'believ': 453,
 'dead': 1150,
 'ha': 1962,
 'come': 913,
 'life': 2647,
 'head': 2020,
 'edg': 1407,
 'earth': 1395,
 'turner': 4626,
 'elizabeth': 1435,
 'noth': 3168,
 'quit': 3568,
 'ocean': 3194,
 'drugabus': 1357,
 'exoticisland': 1571,
 'loveofone': 2729,
 'slif': 4126,
 'traitor': 4582,
 'shipwreck': 4050,
 'ship': 4049,
 'allianc': 167,
 'afterlif': 119,
 'fighter': 1680,
 'pirat': 3390,
 'aftercreditssting': 118,
 'johnnydepp': 2429,
 'orlandobloom': 3238,
 'keiraknightley': 2499,
 'goreverbinski': 1891,
 'messag': 2904,
 'bond': 543,
 'past': 3309,
 'send': 3984,
 'trail': 4579,
 'uncov': 4655,
 'sinist': 4096,
 'organization': 3235,
 'polit': 3427,
 'forc': 1737,
 'secret': 3956,
 'servic': 4004,
 'alive': 164,
 'deceit': 1166,
 'reveal': 3728,
 'terribl': 4460,
 'truth': 4619,
 'crime': 1055,
 'spi': 4209,
 'basedonnovel': 412,
 'secretag': 3957,
 'sequel': 3993,
 'britishsecretservic': 594,
 'danielcraig': 1111,
 'christophwaltz': 829,
 'sammend': 3880,
 'death': 1157,
 'district': 1289,
 'attorney': 347,
 'harvey': 2007,
 'batman': 423,
 'assum': 331,
 'respons': 3712,
 'late': 2588,
 'reput': 3697,
 'subsequ': 4329,
 'hunt': 2158,
 'gotham': 1896,
 'citi': 843,
 'polic': 3420,
 'year': 4970,
 'later': 2589,
 'encount': 1472,
 'mysteri': 3073,
 'kyle': 2563,
 'villain': 4777,
 'new': 3124,
 'terrorist': 4465,
 'leader': 2606,
 'overwhelm': 3258,
 'dark': 1120,
 'knight': 2543,
 'resurfac': 3719,
 'brand': 565,
 'enemy': 1480,
 'drama': 1337,
 'thriller': 4501,
 'dccomic': 1148,
 'crimefight': 1056,
 'secretident': 3959,
 'burglar': 634,
 'gothamc': 1897,
 'vigilant': 4773,
 'cover': 1030,
 'superhero': 4355,
 'terror': 4464,
 'destruct': 1223,
 'imax': 2197,
 'flood': 1718,
 'christianbal': 814,
 'michaelcain': 2918,
 'garyoldman': 1835,
 'christophernolan': 826,
 'john': 2417,
 'carter': 701,
 'war': 4829,
 'militari': 2949,
 'inexplic': 2230,
 'transport': 4587,
 'exot': 1570,
 'planet': 3398,
 'reluctantli': 3676,
 'embroil': 1450,
 'epic': 1505,
 'conflict': 958,
 'world': 4943,
 'brink': 591,
 'rediscov': 3647,
 'hi': 2056,
 'human': 2148,
 'realiz': 3622,
 'surviv': 4382,
 'peopl': 3341,
 'rest': 3713,
 'hands': 1975,
 'mar': 2795,
 'medallion': 2873,
 'princess': 3494,
 'steampunk': 4252,
 'martian': 2825,
 'escap': 1516,
 'superhumanstrength': 4357,
 '19thcenturi': 35,
 'samanthamorton': 3879,
 'seemingli': 3974,
 'spider': 4210,
 'man': 2780,
 'goe': 1882,
 'includ': 2214,
 'shape': 4033,
 'shift': 4048,
 'superpow': 4362,
 'alter': 174,
 'ego': 1419,
 'peter': 3356,
 'parker': 3294,
 'deal': 1154,
 'nemesi': 3114,
 'eddi': 1404,
 'caught': 721,
 'love': 2725,
 'triangle': 4602,
 'dualident': 1368,
 'amnesia': 198,
 'forgiv': 1748,
 'wretch': 4958,
 'deathofafriend': 1158,
 'sand': 3888,
 'hostil': 2131,
 'marvelcom': 2832,
 'reveng': 3731,
 'tobeymaguir': 4530,
 'kirstendunst': 2537,
 'jamesfranco': 2328,
 'samraimi': 3882,
 'kingdom': 2534,
 'bandit': 390,
 'rider': 3750,
 'hide': 2059,
 'tower': 4564,
 'taken': 4414,
 'hostag': 2129,
 'beauti': 434,
 'bound': 553,
 'teen': 4438,
 '70': 52,
 'feet': 1658,
 'golden': 1884,
 'hair': 1965,
 'look': 2699,
 'ticket': 4511,
 'lock': 2686,
 'away': 368,
 'years': 4972,
 'strike': 4304,
 'handsom': 1976,
 'thief': 4485,
 'unlik': 4688,
 'duo': 1375,
 'set': 4007,
 'pack': 3265,
 'complet': 940,
 'super': 4353,
 'cop': 998,
 'gang': 1824,
 'pub': 3541,
 'anim': 229,
 'famili': 1617,
 'magic': 2763,
 'hors': 2123,
 'fairytal': 1606,
 'music': 3063,
 'duringcreditssting': 1377,
 'mandymoor': 2782,
 'toni': 4545,
 'stark': 4244,
 'tri': 4599,
 'program': 3514,
 'thing': 4487,
 'awri': 370,
 'hero': 2051,
 'ultim': 4645,
 'test': 4468,
 'fate': 1642,
 'hang': 1978,
 'aveng': 361,
 'stop': 4282,
 'plans': 3400,
 'soon': 4169,
 'unexpect': 4668,
 'way': 4854,
 'global': 1877,
 'adventure': 107,
 'basedoncomicbook': 410,
 'vision': 4792,
 'marvelcinematicunivers': 2831,
 'robertdowneyjr': 3779,
 'chrishemsworth': 808,
 'markruffalo': 2808,
 'harri': 1998,
 'begin': 449,
 'discov': 1275,
 'old': 3207,
 'book': 545,
 'mark': 2805,
 'properti': 3524,
 'half': 1967,
 'blood': 524,
 'prince': 3493,
 'learn': 2609,
 'lord': 2704,
 'witch': 4920,
 'broom': 604,
 'teenagecrush': 4440,
 'werewolf': 4871,
 'danielradcliff': 1113,
 'rupertgrint': 3844,
 'emmawatson': 1462,
 'fear': 1650,
 'god': 1881,
 'lik': 2655,
 'left': 2613,
 'city': 845,
 'modern': 2997,
 'day': 1144,
 'wrestl': 4956,
 'sort': 4175,
 'realli': 3623,
 'superman': 4358,
 'threat': 4498,
 'quickli': 3565,
 'mankind': 2788,
 'greater': 1917,
 'danger': 1109,
 'known': 2548,
 'benaffleck': 459,
 'zacksnyd': 4986,
 'return': 3725,
 'allow': 168,
 'walk': 4819,
 'free': 1779,
 'wa': 4809,
 'abandon': 56,
 'plot': 3411,
 'million': 2952,
 'kill': 2525,
 'chang': 748,
 'face': 1598,
 'forever': 1745,
 'rid': 3747,
 'steel': 4253,
 'savingtheworld': 3905,
 'kevinspacey': 2513,
 'katebosworth': 2486,
 'bryansing': 616,
 'continu': 985,
 'jame': 2324,
 'casino': 707,
 'betray': 477,
 'woman': 4925,
 '007': 1,
 'fight': 1679,
 'urg': 4713,
 'make': 2771,
 'latest': 2590,
 'pursu': 3554,
 'determin': 1227,
 'interrog': 2273,
 'mr': 3049,
 'white': 4885,
 'organ': 3234,
 'blackmail': 513,
 'far': 1632,
 'complex': 941,
 'anyon': 264,
 'imagined': 2196,
 'undercov': 4657,
 'marcforst': 2796,
 'jack': 2310,
 'work': 4938,
 'debt': 1161,
 'jones': 2443,
 'attempt': 341,
 'avoid': 363,
 'etern': 1526,
 'fortunetel': 1755,
 'monster': 3006,
 'daughter': 1127,
 'texa': 4470,
 'ranger': 3598,
 'chase': 769,
 'outlaw': 3251,
 'led': 2611,
 'ambush': 189,
 'survivor': 4385,
 'american': 191,
 'indian': 2223,
 'nurs': 3181,
 'health': 2023,
 'don': 1315,
 'mask': 2835,
 'ride': 3749,
 'silver': 4078,
 'team': 4432,
 'bring': 590,
 'justice': 2476,
 'western': 4878,
 'partner': 3302,
 'lawyer': 2600,
 'train': 4580,
 'young': 4976,
 'boy': 559,
 'extraordinari': 1589,
 'power': 3454,
 'thi': 4484,
 'journey': 2455,
 'came': 656,
 'sent': 3989,
 'emerg': 1451,
 'save': 3904,
 'symbol': 4407,
 'hope': 2114,
 'superhuman': 4356,
 'alieninvas': 158,
 'reboot': 3632,
 'amyadam': 204,
 'michaelshannon': 2924,
 'incred': 2218,
 'lion': 2666,
 'luci': 2739,
 'susan': 4387,
 'narnia': 3084,
 'aid': 133,
 'princ': 3492,
 'threaten': 4499,
 'evil': 1550,
 'king': 2533,
 'help': 2048,
 'color': 908,
 'cast': 708,
 'characters': 759,
 'clan': 853,
 'embark': 1448,
 'quest': 3562,
 'ensur': 1495,
 'right': 3755,
 'heir': 2038,
 'fictionalplac': 1675,
 'brothersisterrelationship': 609,
 'matteroflifeanddeath': 2853,
 'faith': 1607,
 'uncl': 4651,
 'fantasyworld': 1631,
 'enemi': 1478,
 'safeti': 3866,
 'nick': 3141,
 'director': 1265,
 'intern': 2270,
 'agenc': 124,
 'need': 3106,
 'pull': 3546,
 'disaster': 1273,
 'span': 4195,
 'globe': 1878,
 'dare': 1119,
 'recruit': 3643,
 'effort': 1417,
 'begins': 450,
 'newyork': 3137,
 'shield': 4047,
 'chrisevan': 807,
 'cross': 1066,
 'path': 3311,
 'sure': 4371,
 'ruthless': 3854,
 'artist': 313,
 'use': 4716,
 'fabl': 1596,
 'youth': 4982,
 'aboard': 61,
 'queen': 3559,
 'anne': 238,
 'revenge': 3732,
 'formid': 1750,
 'doesn': 1307,
 'know': 2546,
 'sea': 3941,
 'mutini': 3071,
 'sword': 4402,
 'sail': 3870,
 'duke': 1373,
 'mermaid': 2902,
 'penélopecruz': 3340,
 'agent': 127,
 'smith': 4134,
 'tommi': 4541,
 'lee': 2612,
 'time': 4518,
 'seen': 3975,
 '15': 8,
 'men': 2891,
 'black': 511,
 'aliens': 161,
 'stake': 4234,
 'travel': 4591,
 'univers': 4682,
 'told': 4536,
 'themselv': 4481,
 'josh': 2449,
 'agency': 125,
 'humankind': 2151,
 'comedi': 916,
 'timetravel': 4521,
 'willsmith': 4906,
 'tommyleejon': 4542,
 'joshbrolin': 2450,
 'barrysonnenfeld': 406,
 'immedi': 2198,
 'event': 1540,
 'desol': 1214,
 'dwarv': 1381,
 'defend': 1177,
 'mountain': 3039,
 'treasur': 4593,
 'claim': 849,
 'ruin': 3836,
 'elv': 1446,
 'meanwhil': 2869,
 'armi': 297,
 'orc': 3229,
 'march': 2797,
 'fuel': 1798,
 'rise': 3762,
 'middle': 2935,
 'fall': 1610,
 'corrupt': 1007,
 'hobbit': 2088,
 'dragon': 1336,
 'unlikelyfriendship': 4689,
 'swordandsorceri': 4403,
 'martinfreeman': 2828,
 'ianmckellen': 2169,
 'peterjackson': 3359,
 'outcast': 3249,
 'high': 2060,
 'parent': 3287,
 'leav': 2610,
 'rais': 3590,
 'ben': 458,
 'aunt': 353,
 'like': 2656,
 'teenagers': 4443,
 'figur': 1681,
 'got': 1895,
 'person': 3351,
 'today': 4531,
 'belong': 456,
 'father': 1643,
 'understand': 4663,
 'parents': 3288,
 'disappear': 1270,
 'lead': 2605,
 'lab': 2565,
 'dr': 1333,
 'collis': 904,
 'cours': 1024,
 'choic': 799,
 'destini': 1219,
 'lossoffath': 2712,
 'emmaston': 1460,
 'robin': 3785,
 'happen': 1983,
 'die': 1249,
 'robert': 3777,
 'promis': 3519,
 'identity': 2177,
 'widow': 4889,
 'draw': 1339,
 'town': 4565,
 'sheriff': 4044,
 'archer': 287,
 'middleag': 2936,
 'mediev': 2877,
 'russellcrow': 3850,
 'cateblanchett': 714,
 'ridleyscott': 3752,
 'success': 4335,
 'mountains': 3040,
 'gain': 1816,
 'ring': 3758,
 'gold': 1883,
 'wizard': 4922,
 'shock': 4051,
 'orphan': 3240,
 'trade': 4571,
 'carefre': 687,
 'exist': 1566,
 'roam': 3771,
 'hall': 1968,
 'jordan': 2446,
 'colleg': 901,
 'otherworldli': 3246,
 'north': 3164,
 'unawar': 4649,
 'destiny': 1220,
 'england': 1485,
 'experi': 1575,
 'basedonyoungadultnovel': 419,
 'nicolekidman': 3145,
 'chrisweitz': 830,
 'york': 4974,
 'ambiti': 187,
 'movi': 3044,
 'produc': 3507,
 'hire': 2078,
 'crew': 1053,
 'skull': 4112,
 'island': 2301,
 'kong': 2549,
 'giant': 1866,
 'ape': 269,
 'smitten': 4135,
 'screenplay': 3936,
 'filmmak': 1686,
 'filmproduc': 1687,
 'dinosaur': 1261,
 'naomiwatt': 3082,
 'jackblack': 2312,
 'adrienbrodi': 100,
 'rose': 3823,
 'tell': 4452,
 'stori': 4285,
 'lizzi': 2679,
 'lewi': 2638,
 'bobbi': 534,
 'april': 281,
 'titan': 4528,
 'board': 530,
 'depart': 1199,
 'upper': 4706,
 'class': 856,
 'passeng': 3307,
 'mother': 3029,
 'ruth': 3853,
 'fiancé': 1673,
 'drifter': 1348,
 'best': 472,
 'friend': 1787,
 'win': 4908,
 'game': 1821,
 'explain': 1580,
 'voyag': 4807,
 '20': 36,
 'panic': 3279,
 'disast': 1272,
 'classdiffer': 857,
 'starcrossedlov': 4241,
 '1910': 16,
 'katewinslet': 2489,
 'leonardodicaprio': 2627,
 'age': 122,
 'collect': 899,
 'govern': 1899,
 'pass': 3306,
 'act': 78,
 'design': 1211,
 'polar': 3419,
 'caus': 722,
 'faction': 1601,
 'iron': 2299,
 'america': 190,
 'civilwar': 848,
 'scarlettjohansson': 3914,
 'beam': 429,
 'radio': 3582,
 'signal': 4073,
 'form': 1749,
 'sever': 4015,
 'craft': 1038,
 'water': 4852,
 'hawaii': 2017,
 'lieuten': 2645,
 'alex': 150,
 'hopper': 2117,
 'weapon': 4859,
 'offic': 3200,
 'assign': 327,
 'paul': 3320,
 'engag': 1483,
 'unimagin': 4678,
 'strength': 4300,
 'live': 2675,
 'potenti': 3450,
 'brother': 606,
 'admir': 95,
 'shane': 4030,
 'expect': 1572,
 'navi': 3096,
 'hongkong': 2108,
 'soccer': 4145,
 'scientist': 3926,
 'peterberg': 3357,
 'park': 3293,
 'featur': 1653,
 'fulli': 1801,
 'theme': 4480,
 'origin': 3237,
 'dna': 1300,
 'suspens': 4390,
 'amusementpark': 202,
 'animalattack': 230,
 'animalhorror': 231,
 'grave': 1915,
 'wrong': 4963,
 'attack': 339,
 'reloc': 3674,
 'author': 357,
 'posit': 3444,
 'challeng': 742,
 'intellig': 2265,
 'secur': 3969,
 'insid': 2249,
 'alli': 166,
 'trust': 4618,
 'shadow': 4024,
 'onli': 3217,
 'field': 1676,
 'eve': 1539,
 'lethal': 2634,
 'hidden': 2057,
 'motiv': 3034,
 'sociopath': 4149,
 'killer': 2527,
 'judidench': 2461,
 'javierbardem': 2352,
 'major': 2769,
 'ident': 2176,
 'crisis': 1062,
 'burn': 636,
 'decid': 1168,
 'suffer': 4341,
 'wake': 4818,
 'doc': 1301,
 'feel': 1657,
 'mari': 2799,
 'jane': 2340,
 'girl': 1870,
 'sinc': 4088,
 'childhood': 785,
 'doctor': 1302,
 'supervillain': 4364,
 'apart': 266,
 'start': 4245,
 'odyssey': 3198,
 'rebuild': 3633,
 'malibu': 2778,
 'gwynethpaltrow': 1959,
 'doncheadl': 1318,
 'alice': 156,
 'individu': 2226,
 '19': 15,
 'english': 1486,
 'party': 3305,
 'crowd': 1068,
 'consid': 971,
 'marriag': 2813,
 'hole': 2091,
 'garden': 1830,
 'spot': 4222,
 'unusu': 4701,
 'rabbit': 3569,
 'arriv': 306,
 'strang': 4292,
 'surreal': 4379,
 'place': 3394,
 'nightmar': 3151,
 'child': 782,
 'talk': 4417,
 'animals': 232,
 'alic': 155,
 'reason': 3626,
 'conquer': 967,
 'horrif': 2120,
 'restor': 3716,
 'throne': 4502,
 'annehathaway': 239,
 'timburton': 4517,
 'cure': 1087,
 'treat': 4595,
 'line': 2663,
 'drawn': 1340,
 'band': 389,
 'mutant': 3069,
 'beast': 432,
 'hughjackman': 2147,
 'halleberri': 1969,
 'brettratn': 580,
 'relationship': 3665,
 'mike': 2943,
 'dure': 1376,
 'friends': 1789,
 'bestfriend': 473,
 'scari': 3913,
 'billycryst': 499,
 'johngoodman': 2421,
 'stevebuscemi': 4264,
 'sam': 3877,
 'normal': 3162,
 'mind': 2955,
 'target': 4423,
 'drag': 1335,
 'egypt': 1420,
 'sun': 4351,
 'chao': 753,
 'artifact': 310,
 'transform': 4584,
 'tank': 4420,
 'robot': 3789,
 'shialabeouf': 4046,
 'michaelbay': 2917,
 'pick': 3378,
 'vanish': 4734,
 'group': 1935,
 'businessman': 640,
 'push': 3556,
 'boundari': 554,
 'technolog': 4435,
 'control': 988,
 'ancient': 210,
 'menac': 2892,
 'giantrobot': 1867,
 'markwahlberg': 2809,
 'oscar': 3243,
 'small': 4130,
 'tim': 4515,
 'circu': 840,
 'whisk': 4884,
 'kansa': 2479,
 'land': 2575,
 'oz': 3263,
 'inhabit': 2238,
 'great': 1916,
 'clutch': 883,
 'illus': 2191,
 'lost': 2718,
 'milakuni': 2946,
 'rachelweisz': 3577,
 'bad': 380,
 'guy': 1955,
 'spend': 4207,
 'loves': 2731,
 'school': 3920,
 'graduat': 1906,
 'stay': 4250,
 'clue': 881,
 'obsess': 3185,
 'jamiefoxx': 2337,
 'tech': 4434,
 'son': 4166,
 'kevin': 2506,
 'investig': 2286,
 'dictat': 1246,
 'real': 3618,
 'artificialintellig': 312,
 'dystopia': 1389,
 'comput': 945,
 'decept': 1167,
 'duel': 1372,
 'motorcycl': 3037,
 'jeffbridg': 2362,
 'oliviawild': 3212,
 'star': 4240,
 'race': 3570,
 'car': 680,
 'lightn': 2654,
 'pal': 3274,
 'compet': 937,
 'grand': 1907,
 'road': 3768,
 'championship': 745,
 'rocki': 3794,
 'intrigu': 2279,
 'carrac': 697,
 'anthropomorph': 256,
 'owenwilson': 3259,
 'centuries': 735,
 'warrior': 4841,
 'green': 1923,
 'corp': 1003,
 'intergalact': 2269,
 'wear': 4861,
 'grant': 1912,
 'destroy': 1221,
 'balanc': 384,
 'universe': 4683,
 'lie': 2644,
 'hand': 1973,
 'ryanreynold': 3858,
 'petersarsgaard': 3360,
 'martincampbel': 2827,
 'buzz': 647,
 'andy': 218,
 'toy': 4567,
 'haven': 2015,
 'play': 3403,
 'andi': 214,
 'college': 902,
 'accident': 69,
 'nefari': 3107,
 'care': 685,
 'center': 731,
 'togeth': 4534,
 'home': 2096,
 'toycomestolif': 4568,
 'tomhank': 4539,
 'timallen': 4516,
 'grown': 1939,
 'post': 3447,
 'apocalypt': 272,
 'connor': 966,
 'resist': 3704,
 'increasingli': 2217,
 'domin': 1314,
 'marcu': 2798,
 'wright': 4959,
 'confus': 960,
 'foe': 1725,
 'propheci': 3525,
 'sanfrancisco': 3891,
 'cyborg': 1097,
 'killerrobot': 2528,
 'gasstat': 1837,
 'losangel': 2705,
 'antonyelchin': 263,
 'shaw': 4040,
 'seek': 3973,
 'speed': 4204,
 'vindiesel': 4780,
 'paulwalk': 3328,
 'dwaynejohnson': 1382,
 'jameswan': 2333,
 'unit': 4681,
 'nation': 3090,
 'lane': 2577,
 'content': 983,
 'plagu': 3395,
 'infect': 2233,
 'turn': 4624,
 'popul': 3434,
 'rampag': 3594,
 'zombies': 4996,
 'bare': 399,
 'chaos': 754,
 'persuad': 3352,
 'disease': 1278,
 'peril': 3346,
 'trek': 4598,
 'brave': 567,
 'odd': 3195,
 'answer': 249,
 'befor': 446,
 'civil': 846,
 'horror': 2122,
 'apocalyps': 270,
 'zombi': 4994,
 'zombieapocalyps': 4995,
 'bradpitt': 563,
 'speci': 4199,
 'period': 3347,
 'join': 2436,
 'younger': 4979,
 'future': 1808,
 '1970': 25,
 'storm': 4287,
 'jamesmcavoy': 2332,
 'michaelfassbend': 2920,
 'enterpris': 1498,
 'unstopp': 4699,
 'everyth': 1548,
 'stand': 4238,
 'state': 4246,
 'score': 3927,
 'kirk': 2536,
 'manhunt': 2784,
 'captur': 678,
 'mass': 2836,
 'destruction': 1224,
 'friendship': 1790,
 'sacrific': 3861,
 'spacecraft': 4188,
 'spaceopera': 4191,
 'chrispin': 810,
 'unwittingli': 4704,
 'open': 3220,
 'fearsom': 1652,
 'unleash': 4686,
 'strive': 4309,
 'reclaim': 3637,
 'onc': 3216,
 'people': 3342,
 'thought': 4496,
 'legend': 2618,
 'chanc': 746,
 'ewanmcgregor': 1553,
 'adapt': 91,
 'scott': 3929,
 'novel': 3171,
 'lure': 2746,
 'lavish': 2596,
 'neighbor': 3109,
 'jay': 2353,
 'crack': 1037,
 'rich': 3739,
 'existence': 1567,
 'obsession': 3186,
 'tragedi': 4576,
 'await': 364,
 'infidel': 2234,
 'careymulligan': 689,
 'rogu': 3799,
 'capabl': 672,
 'releas': 3668,
 'gift': 1868,
 'rule': 3837,
 'basedonvideogam': 418,
 'jakegyllenha': 2322,
 'benkingsley': 467,
 'mikenewel': 2945,
 'legion': 2621,
 'monstrou': 3008,
 'creatures': 1050,
 'began': 448,
 'consum': 978,
 'humanity': 2150,
 'resourc': 3708,
 'end': 1474,
 'combat': 911,
 ...}

In [57]:
## Cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [58]:
np.fill_diagonal(similarity,0)
similarity

array([[0.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 0.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 0.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 0.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 0.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        0.        ]])

In [59]:
def recommend(movie):
    movie_index = new_data[new_data['title']==movie].index[0]
    distance = list(enumerate(similarity[movie_index]))
    sorted_dist = sorted(distance,reverse=True,key=lambda x: x[1])[:10]

    for i in sorted_dist:
        print(new_data.iloc[i[0]]['title'])

In [60]:
new_data['title'][:10]

0                                      Avatar
1    Pirates of the Caribbean: At World's End
2                                     Spectre
3                       The Dark Knight Rises
4                                 John Carter
5                                Spider-Man 3
6                                     Tangled
7                     Avengers: Age of Ultron
8      Harry Potter and the Half-Blood Prince
9          Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [61]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.
Battle: Los Angeles
Predators
Small Soldiers
Meet Dave
U.F.O.

In [62]:
recommend("Batman v Superman: Dawn of Justice")

Man of Steel
Batman Begins
Thor
Watchmen
Defendor
The Dark Knight
Superman II
Batman Returns
Batman
Superman Returns

In [63]:
import pickle
pickle.dump(new_data,open('movies.pkl','wb'))

pickle.dump(similarity,open('similarity.pkl','wb'))